html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

#tsparticles {
  width: 100%;
  height: 320px;
  position: absolute;
}

.preview.markdown-body pre {
  position: relative;
  margin-bottom: 3em !important;
  background-color: #1c2637;
  color: white;
}

.preview-code {
  background-color: #1c2637 !important;
  padding: 0 !important;
  margin: 0 !important;
}
